{% extends "manager_base.html" %}
{% block content %}
{% if message %} 
  <div class="alert alert-warning">{{ message }}</div> 
{% endif %} 
{% csrf_token %}  
<form method="POST" class="accountForm">  
  {% csrf_token %}  
  <a href="#" class="btn btn-outline-dark rmValue2" id="test">刪除</a>  
  <table class="table" id="listTable">  
    <caption>List of violates</caption>  
    <thead>  
      <tr> 
        <th scope="col"></th> 
        <th scope="col">#</th> 
        <th scope="col">檢舉人</th> 
        <th scope="col">違規事項</th> 
        <th scope="col">違規者</th> 
        <th scope="col">違規寵物ID</th> 
        <th scope="col">連結</th> 
 
      </tr> 
    </thead> 
     {% for i in violate_data %}  
      <tbody>  
        <tr>  
          <th scope="row" for="u{{ i.id }}"> 
            <div class="form-check form-check-inline"> 
              <input class="form-check-input violateID" type="checkbox" id="u{{ i.id }}" value="{{ i.id }}" name="violateID"> 
            </div> 
          </th> 
          <td>{{ forloop.counter }}</td>  
          <td>{{i.reportName}}</td>  
          <td>{{i.violateList}}</td>  
          <td>{{i.voilateName}}</td>  
          <td>{{i.voilatePet.id}}</td>  
          <td><a href="/detail/detailAnimal/{{i.voilatePet.id}}/" class="btn btn-primary">查看</a> </td> 
        </tr>  
    {% endfor %}  

{% endblock %} 