html ,body {
    height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: linear-gradient(120deg, #9af5f5 0%, #ffb586 100%);
  margin: auto 80px;
}

.container-fluid {
  margin-top: 50px;
}

.right-card{
    padding-left: 30px;
    border-left: 1px solid white;
}

.input-field {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.input-field label{
  color: gray;
  margin: 0;
}

.form-control:focus {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #4a4a4a;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  box-shadow: 0 0px 0 0 white !important;
  color: #6a6f77;
  outline: 0;
  border-radius: 0rem;
}

.form-btn {
  margin-top: 20px;
}

.back-btn {
  color: gray;
  transition: color 0.25s;
}

.back-btn:hover {
  color: #0eb7da;
  text-decoration: none;
}

.back-btn:hover::before {
  text-decoration: none;
/*  border-top-color: #0eb7da;
  border-right-color: #0eb7da;*/
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
/*.flex-center {
    display:flex;
    align-items:center;
    justify-content:center;
}*/
