<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% load staticfiles %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/member.css' %}">
  </head>
  <body>
    <nav>

      <div class="profile-pic">
        {% if member.sex == "female" %}
          <img src="{% static 'img/woman.svg' %}">
        {% else %}
          <img src="{% static 'img/man.svg' %}">
        {% endif %}
      </div>
    </nav>
    
    <!-- <h3>會員中心</h3>  -->
    <a class="nav-link" href="{% url 'home:index' %}">返回</a>
    <div class="member-nav">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'member:index'%}">個人資料</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'member:setpassword'%}">修改密碼</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">查看認養清單</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <!-- <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="{% url 'member:index'%}">個人資料</a></li>
        <li><a data-toggle="tab" href="{% url 'member:setpassword'%}">修改密碼</a></li>
        <li><a data-toggle="tab" href="#adopt-list">查看認養清單</a></li>
        <li><a data-toggle="tab" href="#menu3">頁籤 3</a></li>
      </ul> -->
      
    {% block content %}
    {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>