{% extends 'deliver_base.html' %}

{% block title %} Upload Animals {% endblock %}
{% block content %}

<!-- <form method='POST'> -->
  <!-- 避免發生 CSRF 的攻擊，Django提供了一個簡單的方法做驗證 -->
<!--   {% csrf_token %} 
  {{ form.as_p }}
<input type="submit" value="save" />
</form> -->


<form method="POST" action="{% url 'member:uploadAnimal' %}" align='center' enctype="multipart/form-data">  <!-- ...使用post方式 跳轉道action的裡面 ... -->
    {% csrf_token %} <!--防止csrf攻擊 打這行python就可以幫我們避免!-->
    {% if message %}
    <div class="alert alert-warning">{{message}}</div>
    {% endif %}
    <br>
    種類:
    <input type="text" name="種類" size="30" style=" border:1px; border-bottom-style: solid;border-top-style: none;border-left-style:none;border-right-style:none;">
        <br>
    品種:
    <input type="text" name="品種" size="30" style=" border:1px; border-bottom-style: solid;border-top-style: none;border-left-style:none;border-right-style:none;">
        <br>
    年齡:
    <input type="text" name="年齡" size="30" style=" border:1px; border-bottom-style: solid;border-top-style: none;border-left-style:none;border-right-style:none;">
        <br>
    性別:
    <input type="text" name="性別" size="30" style=" border:1px; border-bottom-style: solid;border-top-style: none;border-left-style:none;border-right-style:none;">
        <br>
    來源地:
    <input type="text" name="來源地" size="30" style=" border:1px; border-bottom-style: solid;border-top-style: none;border-left-style:none;border-right-style:none;">
        <br>
    健康情況:
    <input type="text" name="健康情況" size="30" style=" border:1px; border-bottom-style: solid;border-top-style: none;border-left-style:none;border-right-style:none;">
        <br>
    備註:
        <br>
        <textarea cols="40" rows="5" name="備註"></textarea>
        <br>
    圖片:
        <br>
        <input type="file" name="圖片">   
        <br> 
    <input class='btn btn-primary' type="submit" value="確認上傳">
        <br>
    {% if errormsg %}
    <div class="alert alert-warning">{{ errormsg }}</div>
    {% endif %}

</form>

{% endblock %}